@import (once) "../theme";

@myhordes-building-row-color: #663024;
@myhordes-building-complete-row-color: #3b3249;

@myhordes-building-header-color: #b37c4a;
@myhordes-building-complete-header-color: #696486;

.b-table() {
  &:nth-child(2n+0) {background: darken(@myhordes-building-row-color,5%); &>.cell { background: darken(@myhordes-building-row-color,5%); }}
  &:nth-child(2n+1) {background: @myhordes-building-row-color; &>.cell { background: @myhordes-building-row-color; }}
}

div.buildings {
  padding: 0;
  font-size: 1.2rem;
  &:not(:first-child) {
    margin: 32px 0;
  }
  border: 1px solid @myhordes-smalltext;
  border-bottom: 2px solid @myhordes-cell-header-text-color;
  .lv_list(@max,@n:1) when (@n <= @max) {
    &.lv-@{n} > div.cell:first-child { padding-left: 16px * @n; }
    .lv_list(@max,@n+1)
  }
  .lv_list(@max,@n:1) when (@n > @max) {}

  .build-btn {
    padding: 2px 8px;
  }

  .ap-bar {
    position: absolute; top: 0; left: 0; right: 0; height: 6px; background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%);
    overflow: hidden;
    &>.bar { background: linear-gradient(180deg, #fffb58 0%, #f2c94d 100%); height: 100% }
  }

  &>.row {
    .b-table();
    &.root > div.cell:first-child>span { font-weight: bold }
    overflow: hidden;

    &> div.cell {
      position: relative; z-index: 2;
      &>* { position: relative; z-index: 2; }
      &:first-child {
        &:before { position: absolute; left: 0; top: -200%; height: 500%; width: 100%; content: " "; background: @myhordes-building-header-color; z-index: 1;  }
      }
    }

    &.complete {
      background: @myhordes-building-complete-row-color; &>.cell { background: @myhordes-building-complete-row-color; }
      &> div.cell:first-child:before { background: @myhordes-building-complete-header-color; }
      .bar {
        background: linear-gradient(180deg, #fb4648 0%, #bf2f31 100%);;
      }
    }

    &.voted {
      background: lighten(@myhordes-building-complete-row-color, 20%); &>.cell { background: lighten(@myhordes-building-complete-row-color, 20%); }
      &> div.cell:first-child:before { background: lighten(@myhordes-building-complete-header-color, 20%); }
    }

    .vote {
      visibility: hidden;
    }

    &:hover {
      .vote {
        visibility: visible;
      }
    }

    &.locked { opacity: 0.35}
    .lv_list(6);
  }

  .build-req {
    img { vertical-align: middle; }
    display: inline-block; padding: 0 3px; font-weight: bold; font-size: 1.4rem;
    &+.build-req { border-left: 1px dotted @myhordes-smalltext; }
    &>span.resource {
      &.current {
        font-size: 1.2rem; font-weight: normal;
        &.low { color: #d04d3f;  }
        &:not(.low) { color: @myhordes-smalltext; }
      }
    }
  }

  padding-top: 25px;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.type_small_wallimprove {
    border-top: 1px solid #899775;
    border-left: 5px solid #899775;
    &:before {
      background-image: url('../../img/building/construction/building_wall1.png');
    }
  }
  &.type_small_water {
    border-top: 1px solid #93b0c1;
    border-left: 5px solid #93b0c1;
    &:before {
      background-image: url('../../img/building/construction/building_pump.png');
    }
  }
  &.type_item_meat {
    border-top: 1px solid #ff9073;
    border-left: 5px solid #ff9073;
    &:before {
      background-image: url('../../img/building/construction/building_meat.png');
    }
  }
  &.type_small_refine {
    border-top: 1px solid #c5ba8f;
    border-left: 5px solid #c5ba8f;
    &:before {
      background-image: url('../../img/building/construction/building_command.png');
    }
  }
  &.type_item_tagger {
    border-top: 1px solid #edb867;
    border-left: 5px solid #edb867;
    &:before {
      background-image: url('../../img/building/construction/building_tower.png');
    }
  }
  &.type_small_building {
    border-top: 1px solid #e39191;
    border-left: 5px solid #e39191;

    &:before {
      background-image: url('../../img/building/construction/building_fondations.png');
    }
  }
  &.type_small_door_closed {
    border-top: 1px solid #c982d2;
    border-left: 5px solid #c982d2;
    &:before {
      background-image: url('../../img/building/construction/building_doorLock.png');
    }
  }
  &.type_small_spa4souls {
    border-top: 1px solid #66c295;
    border-left: 5px solid #66c295;
    &:before {
      background-image: url('../../img/building/construction/building_spa4souls.png');
    }
  }
}

div.town-upgrades {
  padding: 0; border: 1px solid @myhordes-smalltext;

  &>.row {
    .b-table();
    font-size: 1.2rem;
    strong { font-size: 1.5rem; font-variant: small-caps }
    b { color: @myhordes-smalltext; }

    &.complete {
      background: @myhordes-building-complete-row-color; &>.cell { background: @myhordes-building-complete-row-color; }
      &> div.cell:first-child:before { background: @myhordes-building-complete-header-color; }
    }
  }
}

div.voted-building {
  max-width: 340px;
  color: #f0d79e;
  padding: 10px;
  background: #3b3249;
  border: 1px solid #ddab76;
  outline: 2px solid #5c2b20;
  text-align: center;


  font-size: 1.2rem;
  margin: 15px auto;
  position: relative;
  .name {
    font-size: 2rem;
    color: white;
  }
}

ul.tabs {
  &.buildings-tabs {
    &::after { content: ""; display: table; clear: both; }
    margin-bottom: -30px;
    > li {
      margin: 0 3px 0 0;
    }
  }
}