{% extends "ajax/help/shell.html.twig" %}
{% block title %}{{'Hilfe'|trans({}, 'game')}} - {{'Zum Thema \'Sitting\'...'|trans({}, 'help')|raw}}{% endblock %}
{% block helpContent %}
<div class="helpArt">{{ 'Spielanleitung'|trans({},'help')|raw }}</div>
<h1>{{ 'Zum Thema \'Sitting\'...'|trans({},'help')|raw }}</h1>
<div class="help">
<p>{{ 'Der Begriff "Sitting" bezeichnet das unerlaubte Verleihen eines Spielaccounts an einen anderen Spieler. Ein anderer Begriff dafür ist \'Accountvertretung\'. Ziel des \'Sittings\' ist es, sich gegenüber anderen Spielern einen zeitlichen oder spielerischen Vorteil zu verschaffen.'|trans({},'help')|raw }}</p>
<p><strong>{{ 'Accountvertretungen bzw. Sitting sind bei "Die Verdammten" verboten!'|trans({},'help')|raw }}</strong></p>
</div>
<h2>{{ 'Warum sind Accountvertretungen (Sitting) verboten?'|trans({},'help')|raw }}</h2>
<ul>
<li>{{ 'Eine hohe Anzahl an Nachrichten, die unseren Technischen Support erreichen, drehen sich um Accountdiebstähle. Diese Diebstähle sind <strong>fast immer </strong> Folge von Accountvertretungen, die "dumm" gelaufen sind ;)'|trans({},'help')|raw }}</li>
<li>{{ 'Selbst Freunde, von denen du es am wenigsten erwartet hättest, können deinen Account löschen. Das ist schon öfters vorgekommen. Ein Account wurde an einen "Freund" geliehen, dieser löscht ihn und anschließend spielen sich wahre Dramen ab. Unser Support weiß davon ein Lied zu singen... Einmal gelöschte Accounts sind unwideruflich weg (inkl. aller Seeelenpunkte und eventuell vorhandener Heldentage)!'|trans({},'help')|raw }}
</li>
</ul>
<h2>{{ 'Was riskiere ich, wenn ich meinen Account sitten lassen oder selbst sitte?'|trans({},'help')|raw }}</h2>
<ul>
<li>{{ 'Dein Account kann gestohlen werden.'|trans({},'help')|raw }}</li>
<li>{{ 'Dein Account kann vom Admin gesperrt werden.'|trans({},'help')|raw }}</li>
<li>{{ 'Du wirst aus dem Städteranking ausgeschlossen. Eine Stadt, die eine große Anzahl an Sittern enthielt, wird am Ende der Saison automatisch vom Ranking ausgeschlossen.'|trans({},'help')|raw }}</li>
</ul>
<h2>{{ 'Anmerkungen zum Ausschluss aus dem Städteranking'|trans({},'help')|raw }}</h2>
<p>
{{ 'Das Städteranking bei "Die Verdammten" soll zeigen, wie lange eine Gemeinschaft durch Kooperation überleben kann. Der menschliche Faktor und das reale Leben haben selbstverständlich einen Einfluss auf das Abschneiden einer Stadt.
Profimäßiges Sitting verändert den Grundgedanken unseres Spiels und lässt Bürger zu reinen <i>{img_ap}-Reserven</i> verkommen. Wir werden dies nicht dulden.
Aus diesem Grund werden Städte, die verstärkt Sittingmethoden anwenden, ab der 2. Saison aus dem Ranking ausgeschlossen.'|trans({'{img_ap}' : '<span class="ap"></span>'},'help')|raw }}
</p>
<p>
{{ 'Wir verstehen natürlich die Enttäuschung, die ehrliche Spieler erleben, wenn sie in einer "ge-sitteten" Stadt gespielt haben und dann aus dem Ranking fallen. Allerdings ist der Organisationsvorteil einiger "ge-sitteten" Stadt so groß, dass es normalen Städten gegenüber ungerecht wäre, sie nicht aus dem Ranking zu nehmen. Der Ausschluss aus der Rangliste ist die einzige ungewollt negative Folge, die ehrliche Spieler hinnehmen müssen. Ansonsten entstehen ihnen keine weiteren Nachteile.'|trans({},'help')|raw }}
</p>
<p>
{{ 'Ein Spieler, dessen Stadt wegen Sitting aus dem Ranking gelöscht wurde, kann diese immer noch auf seiner Seelenseite betrachten.'|trans({},'help')|raw }}
</p>
<p>
{{ '<strong>Der Admin behält sich jedoch das Recht vor, jeglichen Beweis der Teilnahme an einer gerankten (und später ausgeschlossenen) Stadt zu löschen.</strong>
Alle Seelenpunkte, die mit einer gelöschten Stadt erspielt wurden, gehen ebenso verloren.'|trans({},'help')|raw }}
</p>
<h2>{{ 'Wie entdeckt ihr Sitter?'|trans({},'help')|raw }}</h2>
<p>
{{ 'Es dürfte jedem einleuchten, dass wir unsere Tools und Methoden hier nicht bekannt geben können. Dennoch können wir euch sagen, dass :'|trans({},'help')|raw }}
</p>
<ul>
<li>{{ '<strong>Paare</strong> und <strong>Familien</strong> nichts zu befürchten haben. Unser System filtert "normale" Fälle von IP-Sharing und "sich einen PC teilen" heraus.'|trans({},'help')|raw }}</li>
<li>{{ 'das Verleihen von Accounts und Accountpasswörtern strengstens verboten bleibt. Gebt euer Passwort nicht weiter und fragt auch nicht nach einem anderen Passwort (Don\'t Ask, Don\'t Tell).'|trans({},'help')|raw }}</li>
<li><strong>{{ 'ihr nichts zu befürchten habt, wenn ihr eine reine Seele habt'|trans({},'help')|raw }}</strong> ;)</li>
</ul>
<div class="clear"></div>
<a class="button" x-ajax-href="{{ url('help', {'name': 'use_of_external_sites'}) }}"><img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move"> {{'Weiter'|trans({}, 'help')}}:<strong> {{ 'Externe Webseiten und Anwendungen'|trans({},'help') }}</strong></a>
{% endblock %}