{% extends "ajax/ajax_plain.html.twig" %}
{% block ajax_base %}
    {# @var posts \App\Entity\Post[] #}

    <div class="forum-posts">
        {% for post in posts %}
            {% if not post.hidden or is_granted("ROLE_CROW") %}
                {% set variant = null %}
                {% if post.owner.name == 'Der Rabe' or post.type == "CROW" %}{% set variant = 'crow' %}{% endif %}
                {% if post.type == "DEV" %}{% set variant = 'dev' %}{% endif %}

                <div class="forum-post forum-post-small {% if variant is not null %}forum-post-variant-{{ variant }}{% endif %} {% if not post.hidden %}{% else %}forum-post-hidden{% endif %} {% if post.new %}forum-post-new{% endif %} {% if markedPost is defined and post.id == markedPost %}forum-post-marked{% endif %}" id="{{post.id}}">
                    <div class="forum-post-content">
                        {% if post.owner.name == 'Der Rabe' %}
                            <div class="avatarcrow small"><img alt="" src="{{ asset('build/images/forum/crow/crow.small.' ~ (app.request.locale|e('html_attr')|split('_', 2))[0] ~ '.png') }}"></div>
                        {% elseif (post.owner.avatar) %}
                            <div class="avatar small ua-{{ random(0,9) }}"><img alt="" src="{{ path('app_web_avatar', {'uid': post.owner.id, 'name': post.owner.avatar.smallName, 'ext': post.owner.avatar.format}) }}"></div>
                        {% else %}
                            <div class="avatar small ua-{{ random(0,9) }}"><img alt="" src="{{ asset('build/images/forum/empty_avatar.gif') }}"></div>
                        {% endif %}
                        <b>
                            {% if post.owner.name == 'Der Rabe' %}
                                {% set displayName = 'Der Rabe'|trans({},'global') %}
                            {% elseif post.type == "DEV" %}
                                {% set displayName = post.owner.name %}
                            {% else %}
                                {% if town and post.owner.citizenFor(town) %}
                                    {% set displayName = post.owner.citizenFor(town).name %}
                                {% else %}
                                    {% set displayName = post.owner.name %}
                                {% endif %}
                            {% endif %}
                            <a class="link" href="{{ path('soul_visit', {id: post.owner.id}) }}">{{ displayName }}:</a>
                        </b>
                        {{ post.translate ? (post.text|trans({},'game')|raw) : (post.text|raw) }}
                        {% if not post.translate and paranoid and post.owner.name != 'Der Rabe' %}
                            {% set mode = (app.user.id + post.id + post.owner.id) % 12 %}
                            {% if mode == 0 %}
                                <br/>{{ 'Hängt {user}!'|trans({'{user}': app.user.name},'game') }}
                            {% elseif mode == 1 %}
                                <br/>{{ '{user} wir kriegen dich!'|trans({'{user}': app.user.name},'game') }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <i class="small float-right" style="opacity: 0.5; padding: 2px;">
                        {% if post.date >= 'today'|to_date %}
                            {{ 'Heute um'|trans({},'global') }} {{ post.date|format_datetime('none', 'short') }}
                        {% elseif post.date >= 'yesterday'|to_date %}
                            {{ 'Gestern um'|trans({},'global') }} {{ post.date|format_datetime('none', 'short') }}
                        {% else %}
                            {{ post.date|format_datetime('medium', 'short') }}
                        {% endif %}
                    </i>

                </div>
            {% endif %}
        {% endfor %}
        <div class="right"><span class="small button" x-ajax-target="default" x-ajax-href="{{ url('forum_thread_view', {fid: fid, tid: tid}) }}" style="width: 12rem;"><img alt="" src="{{ asset('build/images/forum/r_forum.gif') }}"> {{ 'Zum Forum'|trans({},'game') }}</span></div>
    </div>
{% endblock %}